channels==2.4.0
channels-redis==2.4.1
dj-database-url==0.5.0
django-channels==0.7.0
django-cors-headers==2.5.3
django-filter==2.1.0
django-redis==4.11.0
djangorestframework==3.9.3
flake8==3.5.0
ipython==6.4.0
Pillow==6.1.0
psycopg2-binary==2.7.5
python-decouple==3.1
redis==3.3.11
Unipath==1.1
whitenoise==4.0